# 读取数据

In [1]:
import pandas as pd

# Define the file path and sheet name
file_path = 'data/pure MS2.xlsx'
sheet_name = 'data'

# Read the Excel file
df = pd.read_excel(file_path, sheet_name=sheet_name)
df

,REF,Name,Metal,Morphology,S wt%,d,Crystal face,SSA,Dap,Rct,Elyte,Molarity,Cation,Anion,PW,CD,Cs
0,1.0,FL-SnS2,Sn,flower,41.11,0.61,(001),64.8,7.5,0.5,2M KOH,2.0,K,OH,0.5,1.0,431.82
1,NaN,FL-SnS2,Sn,flower,41.11,0.61,(001),64.8,7.5,0.5,2M KOH,2.0,K,OH,0.5,2.0,398.88
2,NaN,FL-SnS2,Sn,flower,41.11,0.61,(001),64.8,7.5,0.5,2M KOH,2.0,K,OH,0.5,3.0,312.18
3,NaN,FL-SnS2,Sn,flower,41.11,0.61,(001),64.8,7.5,0.5,2M KOH,2.0,K,OH,0.5,5.0,272.00
4,NaN,FL-SnS2,Sn,flower,41.11,0.61,(001),64.8,7.5,0.5,2M KOH,2.0,K,OH,0.5,7.0,230.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,35.0,MoS2,Mo,nanosheet,NaN,NaN,NaN,21.1,NaN,3.1,1M Na2SO4,1.0,Na,SO4,1.0,1.0,129.20
188,NaN,MoS2,Mo,nanosheet,NaN,NaN,NaN,21.1,NaN,3.1,1M Na2SO4,1.0,Na,SO4,1.0,1.5,115.10
189,NaN,MoS2,Mo,nanosheet,NaN,NaN,NaN,21.1,NaN,3.1,1M Na2SO4,1.0,Na,SO4,1.0,3.0,102.30
190,NaN,MoS2,Mo,nanosheet,NaN,NaN,NaN,21.1,NaN,3.1,1M Na2SO4,1.0,Na,SO4,1.0,5.0,92.00
191,NaN,MoS2,Mo,nanosheet,NaN,NaN,NaN,21.1,NaN,3.1,1M Na2SO4,1.0,Na,SO4,1.0,10.0,73.80

# 删除一些列

In [2]:
# Drop the specified columns
columns_to_drop = ['REF', 'Elyte', 'Name', 'S wt%', 'd', 'Crystal face', 'PW']
df_1 = df.drop(columns=columns_to_drop, errors='ignore')
df_1

    Metal Morphology   SSA  Dap  Rct  Molarity Cation Anion    CD      Cs
0      Sn     flower  64.8  7.5  0.5       2.0      K    OH   1.0  431.82
1      Sn     flower  64.8  7.5  0.5       2.0      K    OH   2.0  398.88
2      Sn     flower  64.8  7.5  0.5       2.0      K    OH   3.0  312.18
3      Sn     flower  64.8  7.5  0.5       2.0      K    OH   5.0  272.00
4      Sn     flower  64.8  7.5  0.5       2.0      K    OH   7.0  230.70
..    ...        ...   ...  ...  ...       ...    ...   ...   ...     ...
187    Mo  nanosheet  21.1  NaN  3.1       1.0     Na   SO4   1.0  129.20
188    Mo  nanosheet  21.1  NaN  3.1       1.0     Na   SO4   1.5  115.10
189    Mo  nanosheet  21.1  NaN  3.1       1.0     Na   SO4   3.0  102.30
190    Mo  nanosheet  21.1  NaN  3.1       1.0     Na   SO4   5.0   92.00
191    Mo  nanosheet  21.1  NaN  3.1       1.0     Na   SO4  10.0   73.80

[192 rows x 10 columns]

# 查看数据的描述性统计

In [3]:
description = df_1.describe(include='all')

# Convert the descriptive statistics DataFrame to a Markdown table
markdown_table = description.to_markdown()

# Save the Markdown table to a .md file
markdown_file_path = "output/1.1_descriptive_statistics.md"
with open(markdown_file_path, 'w') as file:
    file.write(markdown_table)

print(f"Descriptive statistics saved to {markdown_file_path}")

Descriptive statistics saved to output/1.1_descriptive_statistics.md

# 处理形貌分类

In [4]:
# Function to categorize morphology with small categories combined into "Others"
def categorize_morphology_with_others(morphology):
    if morphology in ['nanosheet', 'sheet']:
        return 'Nanosheet/Sheet'
    elif morphology in ['hollow nanocubes', 'hollow prisms', 'hollow nanorods', 'hollow sphere']:
        return 'Hollow Structures'
    elif morphology in ['nanoparticles', 'octahedron', 'nanocubes', 'sphere', 'ellipsoid']:
        return 'Nanoparticles/Regular Shapes'
    elif morphology in ['bulk', 'amorphous', '2D']:
        return 'Others'
    else:
        return morphology

# Apply the categorization function to the DataFrame
df_1['Morphology_Categorized'] = df_1['Morphology'].apply(categorize_morphology_with_others)

# Display the counts of each new category
final_morphology_counts_with_others = df_1['Morphology_Categorized'].value_counts()
print(final_morphology_counts_with_others)

df_2 = df_1.drop(columns='Morphology')

cols = list(df_2.columns)
cols.insert(cols.index('Metal') + 1, cols.pop(cols.index('Morphology_Categorized')))
df_cleaned = df_2[cols]

df_cleaned

Morphology_Categorized
flower                          54
Nanosheet/Sheet                 52
Nanoparticles/Regular Shapes    43
Others                          23
Hollow Structures               20
Name: count, dtype: int64

,Metal,Morphology_Categorized,SSA,Dap,Rct,Molarity,Cation,Anion,CD,Cs
0,Sn,flower,64.8,7.5,0.5,2.0,K,OH,1.0,431.82
1,Sn,flower,64.8,7.5,0.5,2.0,K,OH,2.0,398.88
2,Sn,flower,64.8,7.5,0.5,2.0,K,OH,3.0,312.18
3,Sn,flower,64.8,7.5,0.5,2.0,K,OH,5.0,272.00
4,Sn,flower,64.8,7.5,0.5,2.0,K,OH,7.0,230.70
...,...,...,...,...,...,...,...,...,...,...
187,Mo,Nanosheet/Sheet,21.1,NaN,3.1,1.0,Na,SO4,1.0,129.20
188,Mo,Nanosheet/Sheet,21.1,NaN,3.1,1.0,Na,SO4,1.5,115.10
189,Mo,Nanosheet/Sheet,21.1,NaN,3.1,1.0,Na,SO4,3.0,102.30
190,Mo,Nanosheet/Sheet,21.1,NaN,3.1,1.0,Na,SO4,5.0,92.00
191,Mo,Nanosheet/Sheet,21.1,NaN,3.1,1.0,Na,SO4,10.0,73.80

# 保存中间数据

In [5]:
# Define the output CSV file path
output_csv_path = 'data/pure_MS2_cleaned.csv'

# Save the remaining columns to a CSV file
df_cleaned.to_csv(output_csv_path, index=False)

print(f"Filtered data has been saved to {output_csv_path}")

description = df_cleaned.describe(include='all')

# Convert the descriptive statistics DataFrame to a Markdown table
markdown_table = description.to_markdown()

# Save the Markdown table to a .md file
markdown_file_path = "output/1.2_descriptive_statistics.md"
with open(markdown_file_path, 'w') as file:
    file.write(markdown_table)

print(f"Descriptive statistics saved to {markdown_file_path}")

Filtered data has been saved to data/pure_MS2_cleaned.csv
Descriptive statistics saved to output/1.2_descriptive_statistics.md

# 处理分类变量

In [6]:
df_numeric = df_cleaned.copy()
# Define function to map strings to natural numbers
def map_to_natural_numbers(series):
    unique_values = series.unique()
    value_to_number = {val: i+1 for i, val in enumerate(unique_values)}
    return series.map(value_to_number), value_to_number

# Replace the original columns with their numeric counterparts
df_numeric['Morphology_Categorized'], morphology_mapping = map_to_natural_numbers(df_numeric['Morphology_Categorized'])
df_numeric['Cation'], cation_mapping = map_to_natural_numbers(df_numeric['Cation'])
df_numeric['Anion'], anion_mapping = map_to_natural_numbers(df_numeric['Anion'])

# Save the mapping reports
mapping_report = {
    'Morphology_Categorized': morphology_mapping,
    'Cation': cation_mapping,
    'Anion': anion_mapping
}

# Rename the column 'Morphology_Categorized' to 'Morphology'
df_numeric.rename(columns={'Morphology_Categorized': 'Morphology'}, inplace=True)

# Save the updated DataFrame to a new CSV file
updated_file_path = "data/pure_MS2_numeric.csv"
df_numeric.to_csv(updated_file_path, index=False)

# Save the mapping report to a markdown file
mapping_report_path = "output/1.3_mapping_report.md"
with open(mapping_report_path, 'w') as file:
    for column, mapping in mapping_report.items():
        file.write(f"## {column}\n\n")
        for key, value in mapping.items():
            file.write(f"- {key}: {value}\n")
        file.write("\n")

print(f"Updated data saved to {updated_file_path}")

Updated data saved to data/pure_MS2_numeric.csv

# 替换Metal列的值

In [7]:
# 读取M位性质数据
## CR：共价半径
## IR：离子半径
## Lms：M-S键长
## D：层间距

df_M = pd.read_excel('data/M.xlsx')
df_M

   Metal    CR    IR   Lms     D
0     Mo  1.54  0.69  2.41  6.15
1     Sn  1.39  1.15  2.56  5.89
2     Ti  1.32  0.61  2.42  5.70
3      V  1.22  0.54  2.42  5.76
4     Ni  1.24  0.69  2.36  5.53
5     Co  1.26  0.65  2.26  5.52
6      W  1.50  0.66  2.41  6.15
7     Fe  1.32  0.65  2.44  5.70
8     Cr  1.18  0.52  2.36  5.60
9     Mn  1.39  0.67  2.42  5.74
10    Cu  1.32  0.73  2.40  5.75
11    Zn  1.25  0.74  2.34  5.75
12    Zr  1.45  0.72  2.43  5.89
13    Nb  1.34  0.64  2.45  5.85
14    Ta  1.34  0.64  2.45  6.15
15    Re  1.51  0.80  2.48  6.20

In [8]:
df_merged = pd.merge(df_numeric, df_M[['Metal', 'CR', 'IR', 'Lms', 'D']], on='Metal', how='left')
# Step 1: Identify the position of the 'Metal' column
metal_index = df_merged.columns.get_loc("Metal")

# Step 2: Create a list of columns to move
columns_to_move = ['CR', 'IR', 'Lms', 'D']

# Step 3: Remove these columns from their current positions
df_temp = df_merged.drop(columns=columns_to_move)

# Step 4: Insert these columns right after the 'Metal' column
for i, col in enumerate(columns_to_move, start=1):
    df_temp.insert(metal_index + i, col, df_merged[col])

# Update df_merged with the new column order
df_merged = df_temp

df_merged

,Metal,CR,IR,Lms,D,Morphology,SSA,Dap,Rct,Molarity,Cation,Anion,CD,Cs
0,Sn,1.39,1.15,2.56,5.89,1,64.8,7.5,0.5,2.0,1,1,1.0,431.82
1,Sn,1.39,1.15,2.56,5.89,1,64.8,7.5,0.5,2.0,1,1,2.0,398.88
2,Sn,1.39,1.15,2.56,5.89,1,64.8,7.5,0.5,2.0,1,1,3.0,312.18
3,Sn,1.39,1.15,2.56,5.89,1,64.8,7.5,0.5,2.0,1,1,5.0,272.00
4,Sn,1.39,1.15,2.56,5.89,1,64.8,7.5,0.5,2.0,1,1,7.0,230.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Mo,1.54,0.69,2.41,6.15,2,21.1,NaN,3.1,1.0,3,3,1.0,129.20
188,Mo,1.54,0.69,2.41,6.15,2,21.1,NaN,3.1,1.0,3,3,1.5,115.10
189,Mo,1.54,0.69,2.41,6.15,2,21.1,NaN,3.1,1.0,3,3,3.0,102.30
190,Mo,1.54,0.69,2.41,6.15,2,21.1,NaN,3.1,1.0,3,3,5.0,92.00
191,Mo,1.54,0.69,2.41,6.15,2,21.1,NaN,3.1,1.0,3,3,10.0,73.80

In [9]:
# df_merged.rename(columns={'Morphology_Categorized': 'Morphology'}, inplace=True)

# Define the output CSV file path
output_csv_path = 'data/pure_MS2_merged.csv'

# Save the remaining columns to a CSV file
df_merged.to_csv(output_csv_path, index=False)

print(f"Filtered data has been saved to {output_csv_path}")

Filtered data has been saved to data/pure_MS2_merged.csv