# 读取数据

In [1]:
import pandas as pd

# Define the file path and sheet name
file_path = 'data/pureMS2.csv'
sheet_name = 'data'

# Read the CSV file
df = pd.read_csv(file_path)
df

,EN,CR,4+ IR,MSL,d,MorphoNo,SSA,M,CationNo,AnionNo,CD,Cs
0,1.96,1.39,0.71,2.56,5.89,4,64.80,2.0,1,1,1.0,431.82
1,1.96,1.39,0.71,2.56,5.89,4,64.80,2.0,1,1,2.0,398.88
2,1.96,1.39,0.71,2.56,5.89,4,64.80,2.0,1,1,3.0,312.18
3,1.96,1.39,0.71,2.56,5.89,4,64.80,2.0,1,1,5.0,272.00
4,1.96,1.39,0.71,2.56,5.89,4,64.80,2.0,1,1,7.0,230.70
...,...,...,...,...,...,...,...,...,...,...,...,...
240,2.16,1.30,0.65,2.41,6.15,2,6.64,1.0,2,2,0.6,85.40
241,2.16,1.30,0.65,2.41,6.15,2,6.64,1.0,2,2,0.7,75.30
242,2.16,1.30,0.65,2.41,6.15,2,6.64,1.0,2,2,1.0,34.60
243,2.16,1.30,0.65,2.41,6.15,4,58.20,2.0,1,1,1.0,116.80
244,2.16,1.30,0.65,2.41,6.15,4,58.20,2.0,1,1,10.0,44.30

# 查看数据的描述性统计

In [2]:
description = df.describe(include='all')

# Convert the descriptive statistics DataFrame to a Markdown table
markdown_table = description.to_markdown()

# Save the Markdown table to a .md file
markdown_file_path = "output/1.1_descriptive_statistics.md"
with open(markdown_file_path, 'w') as file:
    file.write(markdown_table)

print(f"Descriptive statistics saved to {markdown_file_path}")

Descriptive statistics saved to output/1.1_descriptive_statistics.md